<div class="container admin-page-wrapper">
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        {{#if model}}
          {{#each model as |course|}}
            {{course.name}}
          {{/each}}
        {{/if}}
      </div>
    </div>
    <div class="col-8">
      
    </div>
  </div>
  <div class="row list-actions">
    <button {{ action "newCourse" }} class="btn btn-primary">New Course</button>
    {{create-course-button store=store}}
  </div>
</div>